{{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}

{{dump(form)}}

<button class="btn btn-info" style="margin-top: 20px;" data-toggle="tooltip" data-placement="top" title="Enregistrer">
    <i class="fas fa-check"></i>
</button>
{{ form_end(form) }}
