<p>Bonjour {{ data.organiser.firstName }}, votre réservation de la salle {{ data.room.name }} le {{ data.startDate|date('d/m/Y', "Europe/Paris") }} a été annulée.</p>

<p>A très vite !</p>

<p><span style='font-size: 9.0pt; font-family: "Arial",sans-serif; color: #002060'>Emma Gomis</span></p>

<p> <span style='font-size: 9.0pt;font-family: "Arial",sans-serif;color: #7F7F7F;'>Gestionnaire des Affaires Administratives</span></p>

<p style='font-size: 9.0pt;font-family: "Arial",sans-serif;color: #7F7F7F;'>Adresse : Immeuble Rivonia 11 ème étage, Plateau,Dakar</p>
<p style='font-size: 9.0pt;font-family: "Arial",sans-serif;color: #7F7F7F;'><a href="mailto:office.manager@adsglobalcorp.com">Email : office.manager@adsglobalcorp.com</a></p>
<p style='font-size: 9.0pt;font-family: "Arial",sans-serif;color: #7F7F7F;'>Tel | Whatsapp  : +221 77 353 35 74</p>
<p style='font-size: 9.0pt;font-family: "Arial",sans-serif;color: #7F7F7F;'>Site web : www.adsglobalcorp.com</p>
{# Makes an absolute URL to the /images/logo.png file #}
<p>
    <img src="{{ absolute_url(asset('images/logo.png')) }}"    width="1.325in" height="0.2916in">
</p>